{% extends "base.html" %}

{% block content %}
<section class="flex h-full min-w-0 flex-col overflow-hidden">
  <header class="sticky top-0 z-10 border-b border-gray-200 bg-gray-100 px-8 pt-0 pb-6  ">
    <div class="flex items-center justify-between gap-6">
      <div>
        <h1 class="text-3xl font-semibold tracking-normal text-gray-950">
          Patients
        </h1>
        <p class="mt-1 text-sm text-gray-600">
          List of patients on the FHIR server.
        </p>
      </div>

      <div class="flex items-center gap-3">
        <!-- <button
          type="button"
          class="inline-flex items-center gap-2 rounded-md px-3 py-2 text-sm font-medium text-gray-700 hover:bg-gray-200"
        >
          <span aria-hidden="true"><i class="fa-regular fa-arrows-rotate"></i></span>
          <span>Refresh</span>
        </button> -->

          <a
            href="/Patient/table"
            hx-get="/Patient/table"
            hx-target="#result"
            hx-swap="innerHTML"
            class="block rounded-md px-3 py-2 text-sm font-medium text-gray-700 hover:bg-gray-200"
          >
            <i class="fa-regular fa-arrows-rotate"></i>
            <span>Refresh</span>
          </a>


        <button
          type="button"
          class="inline-flex items-center rounded-md bg-blue-600 px-4 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-700"
        >
          + Create Patient
        </button>
      </div>
    </div>
  </header>

  <div class="min-w-0 flex-1 overflow-y-auto px-8 py-6">
    <div id="result" class="min-w-0">
      Data will appear here...
    </div>
  </div>
</section>
{% endblock %}